<!doctype html>
<html ng-app="myApp">
<head>

<title>Reset Password</title>

<style>
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    /* background-color: #78FA89; */
  }
</style>

</head>

<body>
<form #passwordForm="ngForm"  class="css-form" (ngSubmit)="changePassword()" >

<div class="container">
  <div class="content">
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Change Password</h1>
    <ul>
    <li><span>Enter Old Password</span><input type="password" placeholder="Enter your old password" [(ngModel)]="data.oldPassword" name="oldPassword" required="" minlength="4" #oldPassword="ngModel"></li>


    <li><span>Enter New Password</span><input type="password" placeholder="Enter your new password" [(ngModel)]="data.newPassword" name="newPassword" required minlength="4" #newPassword="ngModel"></li>


    <li><span>Confirm Password</span><input type="password" placeholder="Enter your password again" [(ngModel)]="data.confirmPassword" name="confirmPassword" required minlength="4" #confirmPassword="ngModel"></li>


    <li><input type="submit" value="Submit"></li>

    </ul>
    </div>
    
    </div>
    
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="images/img_9.png"  alt=""/> </div>
  </div>
</div>
</form>
</body>
</html>
