<!doctype html>
<html>
<head>

<title>Home</title>

</head>
<body>

<div class="container">
  <div class="content">
    <div class="content_rgt">
      <div class="rght_btn" style="cursor:pointer"> <span class="rght_btn_icon"><img src="images/btn_iconb.png" alt="up" /></span> <span class="btn_sep"><img src="images/btn_sep.png" alt="sep" /></span> <a (click)="uploadpost()" >Upload Post</a> </div>

      <div class="rght_btn" *ngIf="user && user.isAdmin" style="cursor:pointer"> <span class="rght_btn_icon"><img src="images/btn_icona.png" alt="up" /></span> <span class="btn_sep"><img src="images/btn_sep.png" alt="sep" /></span> <a (click)="addCategory()">Add Category</a> </div>

      <div class="rght_cate">
        <div class="rght_cate_hd" id="rght_cat_bg">Categories</div>
        <div class="rght_list">

          <ul>

            <li *ngFor="let cat of category; let i = index"><a style="cursor:pointer" (click)="categoryPosts(cat)" ><span class="list_icon"><img src="{{service.url}}/{{cat.img}}" alt="up" height="40" width="40" /></span> {{cat.categories}}</a>
            <button type="submit"  *ngIf="user && user.isAdmin"  (click)=deleteCategory(cat,i) value="DELETECATEGORY">DELETE</button>
            <button type="submit"  *ngIf="user && user.isAdmin"  (click)=updateCategory(cat,i) value="UPDATECATEGORY">UPDATE</button>
            </li>

          </ul>
        </div>
      </div>

      <div class="rght_cate" *ngIf="featuredPosts.length > 0">
        <div class="rght_cate_hd" id="opn_cat_bg">Featured</div>
        <div class="sub_dwn"  *ngFor="let post of featuredPosts">
          <div class="feat_sec">
            <div class="feat_sec_img"><img style="cursor:pointer" [routerLink]="['SinglePost',{id:post._id}]" src="{{service.url}}/{{post.img}}" alt="image" /></div>
            <div class="feat_txt">{{post.title}}</div>
            <div class="btm_rgt">
              <div class="btm_arc">{{post.catType}}</div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="content_lft">


<form *ngIf="upload" class="css-form" (ngSubmit)="post()" #uploadForm="ngForm" >
<div>
Title:<br>
<input type="text" name="title" [(ngModel)]="data.title" >
</div>
<div>
PostedBy:<br>
<input type="text" name="postedby" value="{{data.postedBy}}" [(ngModel)]="data.postedBy" [disabled]=true>
</div>
<div>
  <select [(ngModel)]="data.categories" name="categories">
    <option *ngFor="let cat of category">{{cat.categories}}</option>    
  </select>
</div>
<div>
<input type="file" ng2FileSelect [uploader]="uploader" />
<!-- <button type="button" (click)="uploadFile()" >upload</button> -->
<br>
<div>
<input type="button" (click)="clear()" value="cancel">
  <input type="submit">
</div>
</div>
</form>




<form *ngIf="categoryAdd">
Category Type:
<input type=text name=categoryType [(ngModel)]="newcategory.categoryType">
<div>
<input type="file" ng2FileSelect [uploader]="uploader1" />
<br>
</div><br>
<input type="button" value="cancel"  (click)=hideCategoryAdd()>
<input type="submit" (click)=addNewCategory(newcategory)>
</form>



<form *ngIf="categoryUpdate">
Update Category Type:
<input type=text name=categoryType [(ngModel)]="updateCategoryData.updatecatType">
<div>
<input type="file" ng2FileSelect [uploader]="uploader2" />
<br>
</div><br>
<input type="button" value="cancel"  (click)=hideCategoryUpdate()>
<input type="submit" (click)=updateCategories()>
</form>



<div class="contnt_2" *ngFor="let a of elements; let i=index">
        <div class="div_a">
          <div class="div_title">{{a.title}}</div>
          <div class="btm_rgt">
            <div class="btm_arc">{{a.catType}}</div>
          </div>
          <div class="div_top">
            <div class="div_top_lft"><img src="images/img_6.png">{{a.postedBy}}</div>
            <div class="div_top_rgt"><span class="span_date">{{a.createdOn |date:'MM/dd/yyyy @ h:mma'}}</span></div>
          </div>
          <div class="div_image"><a [routerLink]="['SinglePost',{id:a._id}]"><img src="{{service.url}}/{{a.img}}" alt="pet" /></a></div>
          <div class="div_btm">
            <div class="btm_list">
              <ul>
<!--                 <li><a><span class="btn_icon"><img src="images/icon_001.png" alt="share" /></span>Share</a></li> -->


                <li style="cursor:pointer" *ngIf="user && a.flagBy.indexOf(user._id) == -1" id="flag"><a (click)="flag(a,i)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Flag</a></li>

                <li style="cursor:pointer" *ngIf="!user" id="flag"><a (click)="unknownFlag()"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Flag</a></li>

                <li style="cursor:pointer" *ngIf="user && a.flagBy.indexOf(user._id) !== -1" id="unflag"><a (click)="unflag(a,i)">Unflag<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>


                <li style="cursor:pointer"><a (click)="comment(a)" ><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Comments</a></li>
                
                <li style="cursor:pointer" *ngIf="user && a.likeBy.indexOf(user._id) == -1" id="like"><a ui-sref="dashboard" (click)="like(a,i)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Like</a></li>
                
                <li style="cursor:pointer" *ngIf="!user" id="like"><a ui-sref="dashboard" (click)="unknownLike()"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Like</a></li>

                <li style="cursor:pointer" *ngIf="user && a.likeBy.indexOf(user._id) !== -1" id="unlike"><a ui-sref="dashboard" (click)="unlike(a,i)">Unlike<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>
                
                <div *ngIf="user && a.likeBy.length > 0" class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{a.likeCount}}</span><span class="rit_cnt"></span></div>
                
                <li style="cursor:pointer" *ngIf="user && user.isAdmin || (user && user._id === a.user_id)"><a (click)="delete(a,i)"><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Delete Post</a></li>
                
                <li style="cursor:pointer" *ngIf="user && user.isAdmin && !a.featured"><a (click)="feature(a,i)"><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Feature</a></li>  
                
                <li style="cursor:pointer" *ngIf="user && user.isAdmin && a.featured"><a (click)="unfeature(a,i)"><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Unfeature</a></li>                

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>
</body>
</html>
