<div class="clear"></div>
<div class="footr">
  <div class="footr_lft">
    <div class="footer_div1">Copyright © Daffodil 2016 All Rights Reserved</div>
    <div class="footer_div2"><a href="#">Privacy Policy </a>| <a href="#"> Terms & Conditions</a></div>
  </div>
  <div class="footr_rgt">
    <ul>
      <li><a href="#"><img src="images/social_1.png"></a></li>
      <li><a href="#"><img src="images/social_2.png"></a></li>
      <li><a href="#"><img src="images/social_3.png"></a></li>
      <li><a href="#"><img src="images/social_4.png"></a></li>
    </ul>
  </div>
</div>
