<div class="header">
    <div class="header_lft">
        <div class="logo">
            <a [routerLink]="['Login']"><img style="height:90%; margin:-5px 0 0 0" src="images/new_logo.png"></a>
        </div>
        <div class="navigatn">
            <ul>
                <li><a [routerLink]="['Dashboard']">Home</a></li>
                <!-- <li><a [routerLink]="['Dashboard']">Dashboard</a></li> -->
<!--                 <li><a href="#"> E-Coupons </a></li>
                <li><a href="#">E-Brands </a></li>
                <li><a href="#"> Resuse Market </a></li> -->
                <!-- <li><a href="#"> Lost and Found</a></li> -->
            </ul>
        </div>
    </div>
    <div class="header_rgt">
        <!-- <div class="flag_div"><img src="images/flag.png"></div> -->
        <input type="text" placeholder="Search" class="txt_box">
        <!-- <div class="msg_box"><a href="#"><span class="msg_count">100</span></a></div> -->
        <div *ngIf="service.list" class="info_div">
            <div class="image_div" style="margin-left:-30px;"> <img src="images/pic.png"> </div>
            <!-- <div style="cursor:pointer" class="info_div1" ng-model="user" ng-click="change()">{{user.email}}</div> -->
<!--             <select>
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select> -->
<!--             <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul> -->
<div class="dropdown">
  <button class="dropbtn">Me</button>
  <div class="dropdown-content">
    <a [routerLink]="['ChangePassword']">Change Password</a>
    <a [routerLink]="['Profile']">My Profile</a>
    <a (click)="logout()">Logout</a>
  </div>
</div>
        </div>
        <div class="info_div" *ngIf="!service.list"> 
        <button type="button" value="Login" class="btn btn-warning btn-block active" [routerLink]="['Login']">Login</button>
        </div>
    </div>
</div>


