<!doctype html>
<html>
<head>
<title>Login Account</title>
</head>

<body>
<form class="css-form" #loginForm="ngForm" (ngSubmit)="loginUser()" >
<div class="container">
  <div class="content">
    <div class="content_rgt">
    <div class="login_sec">
    <h1>Log In</h1>
    <ul>
    <li><span>Email-ID</span><input placeholder="Enter your email" name="email" [(ngModel)]="data.email" required #email="ngModel" type="email" >
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
    </li>
    <!-- <p ng-show="loginForm.email.$error.email" class="help-block">Enter a valid email.</p> -->
    <li><span>Password</span><input type="password" placeholder="Enter your password" name="password" [(ngModel)]="data.password" required minlength="4" #password="ngModel">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required</div>
    </li>
    <!-- <li><input type="checkbox">Remember Me</li> -->
    <li>
    <input type="submit" value="Log In" [disabled]="!loginForm.form.valid">
    <a [routerLink]="['Forgot']">Forgot Password</a>
    </li>
    <!-- <p ng-if="checkValid()" class="help-block">please fill the valid details </p> -->
    <!-- <p ng-if="showError()" class="help-block">Either username or password is incorrect </p> -->

    </ul>
    <div class="addtnal_acnt">I do not have any account yet.<a [routerLink]="['Signup']">Create My Account Now !</a></div>
    </div>
    
    </div>
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="images/img_9.png"  alt=""/> </div>
  </div>
</div>
</form>
</body>
</html>
