<!doctype html>
<html>
<head>
<title>Home</title>
<style>
  #editform {
    display:none;
  }
</style>
</head>

<body>
<div class="container" style="margin-left:150px">
  <div class="content">

    <div class="content_lft">
      <div class="contnt_1">
        <div class="list_1">
          <ul *ngIf="user.isAdmin">
            <li>
              <input type="checkbox" class="chk_bx" [(ngModel)]="flagcheck" (click)="flaggedPosts()">
              Flaged
            </li>
          </ul>
        </div>
        <div class="timeline_div">
           <div class="timeline_div1">
             <div class="profile_pic">
               <img src="{{service.url}}/{{userDetail.image}}">
               <div class="profile_text"><input type="file" ng2FileSelect [uploader]="uploader" id="imageUpload" style="display:none" /><a  *ngIf="editDetail" (click)="changeImage()">Change Profile Pic</a></div>
             </div>
             <div class="profile_info">
               <div class="edit_div"><a style="cursor:pointer" (click)="editdetail()">Edit </a></div>


                <div class="profile_form" *ngIf="!editDetail">
                 <ul>
                  <li>
                    <div class="div_name1">Name :</div>
                    <div class="div_name2">{{userDetail.first_name}} {{userDetail.last_name}}</div>
                  </li>
                  <li>
                    <div class="div_name1">Sex :</div>
                    <div class="div_name2">{{userDetail.sex}}</div>
                  </li>
                  <li>
                    <div class="div_name1">Description :</div>
                    <div class="div_name3" >{{userDetail.description}}</div>
                  </li>
                 </ul>
               </div>


               <form class="profile_form"  *ngIf="editDetail" #editForm="ngForm" (ngSubmit)="submitDetail()">
                 <ul>
                  <li>
                    <div class="div_name1">First Name :</div>
                    <input type="text" class="div_name2" name="first_name" [(ngModel)]="userDetail.first_name" value="{{userDetail.first_name}}" #first_name="ngModel">
                  </li>
                  <li>
                    <div class="div_name1">Last Name :</div>
                    <input type="text" class="div_name2" name="last_name" [(ngModel)]="userDetail.last_name" value="{{userDetail.last_name}}" #last_name="ngModel">
                  </li>
                  <li>
                    <div class="div_name1">Sex :</div>
                    <select class="div_name2" [(ngModel)]="userDetail.sex" name="sex">
                    <option *ngFor="let items of item">{{items}}</option>
                    </select>
                  </li>
                  <li>
                    <div class="div_name1">Description :</div>
                    <input type="text" class="div_name3" name="description" [(ngModel)]="userDetail.description" value="{{userDetail.description}}" #description="ngModel">
                  </li>
                  <li>
                  <input type="button" value='cancel' (click)="clear()">
                    <input type="submit" value='submit'>

                  </li>
                 </ul>
               </form>



             </div>
           </div>
           <div class="timeline_div2">
             <ul>
               <li><a class="active">Timeline      </a></li>
               <li><a>About    </a></li>
               <li><a>Album  </a></li>
               <li><a> Pets  </a></li>
                <li><a>My Uploads </a></li>
              
             
             </ul>
           
           </div>
          
        </div>
      </div>
    <div class="contnt_2" *ngFor="let post of postdata; let i = index">
        <div class="div_a">
          <div class="div_title">{{post.title}}</div>
          <div class="btm_rgt">
              <div class="btm_arc">{{post.catType}}</div>
            </div>
          <div class="div_top">
            <div class="div_top_lft"><img src="images/img_6.png">{{post.postedBy}}</div>
            <div class="div_top_rgt"><span class="span_date">{{post.createdOn |date:'MM/dd/yyyy @ h:mma'}}</span></div>
          </div>
          <div class="div_image"><a [routerLink]="['SinglePost',{id:post._id}]"><img src="{{service.url}}/{{post.img}}" alt="pet" /></a></div>
          <div class="div_btm">
            <div class="btm_list">
              <ul>
<!--                 <li><a href="#"><span class="btn_icon"><img src="images/icon_001.png" alt="share" /></span>Share</a></li> -->


                <li style="cursor:pointer" *ngIf="post.flagBy.indexOf(user._id) == -1" id="flag"><a (click)="flag(post,i)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Flag</a></li>
                <li *ngIf="post.flagBy.indexOf(user._id) !== -1" id="unflag"><a (click)="unflag(post,i)">Unflag<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>


                <li style="cursor:pointer"><a (click)="comment(post)" ><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Comments</a></li>
                
                <li style="cursor:pointer" *ngIf="post.likeBy.indexOf(user._id) == -1" id="like"><a ui-sref="dashboard" (click)="like(post,i)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Like</a></li>
                
                <li style="cursor:pointer" *ngIf="post.likeBy.indexOf(user._id) !== -1" id="unlike"><a ui-sref="dashboard" (click)="unlike(post,i)">Unlike<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>

                <div *ngIf="user && post.likeBy.length > 0" class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{post.likeCount}}</span><span class="rit_cnt"></span></div>                
               
                <li style="cursor:pointer" *ngIf="user.isAdmin && !post.featured"><a (click)="feature(post,i)"><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Feature</a></li>  
                
                <li style="cursor:pointer" *ngIf="user.isAdmin && post.featured"><a (click)="unfeature(post,i)"><span class="btn_icon"><img src="images/icon_004.png" alt="share" /></span>Unfeature</a></li>               
              
              </ul>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>
