<!doctype html>
<html>
<head>
<title>Create An Account</title>

</head>

<body>
<form class="css-form" #registerForm="ngForm" (ngSubmit)="register()" >

<div class="container" ng-controller="registerctrl">
  <div class="content">
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Create An Account</h1>
    <ul>
<!--     <li><span>Username</span><input type="text" placeholder="Enter your username" name="username" [(ngModel)]="data.username" required minlength="3" #username="ngModel">
    <div [hidden]="username.valid || username.pristine" class="alert alert-danger" >Username is required </div>
    </li> -->
    <li><span>Email</span><input type="email" placeholder="Enter your email" name="email" [(ngModel)]="data.email" required #email="ngModel">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger" >Email is required </div>
    </li>

    <li><span>Password</span><input type="password" placeholder="Enter your password" name="password" [(ngModel)]="data.password" required minlength="4" #password="ngModel">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger" >password is required </div>
    </li>


    <li><span>First Name</span><input type="text" placeholder="Enter your first name" name="first_name" [(ngModel)]="data.first_name" required #first_name="ngModel">
    <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger" >First Name is required</div>
    </li>
    <li><span>Last Name</span><input type="text" placeholder="Enter your last name" name="last_name" [(ngModel)]="data.last_name" required #last_name="ngModel">
    <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger" >Last Name is required </div>
    </li>
    <li><input type="checkbox" name="terms" [(ngModel)]="terms" (click)="agreeTerms()">I agree to Term & Conditions</li>
    <li><input type="submit" value="Register" [disabled]="!registerForm.form.valid"></li>

    </ul>
    <div class="addtnal_acnt">I already have an account.<a [routerLink]="['Login']" >Login My Account !</a></div>
    </div>
    
    </div>
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="images/img_9.png"  alt=""/> </div>
  </div>
</div>



</form>
</body>
</html>
