<!doctype html>
<html>
<head>
<title>Singal Post</title>

</head>

<body>

<div class="container" style="margin-left:150px">
  <div class="content">
    <!-- <div class="content_rgt">
      <div class="rght_btn"> <span class="rght_btn_icon"><img src="images/btn_iconb.png" alt="up" /></span> <span class="btn_sep"><img src="images/btn_sep.png" alt="sep" /></span> <a href="#">Upload Post</a> </div>
      <div class="rght_btn"> <span class="rght_btn_icon"><img src="images/btn_icona.png" alt="up" /></span> <span class="btn_sep"><img src="images/btn_sep.png" alt="sep" /></span> <a href="#">Invite Friends</a> </div>
      <div class="rght_cate">
        <div class="rght_cate_hd" id="rght_cat_bg">Categories</div>
        <div class="rght_list">
          <ul>
            <li><a href="#"><span class="list_icon"><img src="images/icon_01.png" alt="up" /></span> CATS</a></li>
            <li><a href="#"><span class="list_icon"><img src="images/icon_02.png" alt="up" /></span> Dogs</a></li>
            <li><a href="#"><span class="list_icon"><img src="images/icon_03.png" alt="up" /></span> Birds</a></li>
            <li><a href="#"><span class="list_icon"><img src="images/icon_04.png" alt="up" /></span> Rabbit</a></li>
            <li><a href="#"><span class="list_icon"><img src="images/icon_05.png" alt="up" /></span> Others</a></li>
          </ul>
        </div>
      </div>
      <div class="rght_cate">
        <div class="rght_cate_hd" id="opn_cat_bg">Featured</div>
        <div class="sub_dwn">
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="images/feat_img1.png" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>
            
          </div>
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="images/feat_img2.png" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>
            <div class="btm_rgt">
              <div class="btm_arc">Dogs</div>
            </div>
          </div>
          <div class="feat_sec">
            <div class="feat_sec_img"><img src="images/feat_img3.png" alt="image" /></div>
            <div class="feat_txt">Lorem Ipusum Text</div>
            <div class="btm_rgt">
              <div class="btm_arc">Rabbits</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="content_lft">
      <div class="contnt_2" *ngFor="let data of postData">
        <div class="div_a">
          <div class="div_title">{{data.title}}</div>
          <div class="btm_rgt">
              <div class="btm_arc">{{data.catType}}</div>
            </div>
          <div class="div_top">
            <div class="div_top_lft"><img src="images/img_6.png">{{data.postedBy}}</div>
            <div class="div_top_rgt"><span class="span_date">{{data.createdOn |date:'MM/dd/yyyy @ h:mma'}}</span></div>
          </div>
          <div class="div_image"><img src="{{service.url}}/{{data.img}}" alt="pet" /></div>
          <div class="div_btm">
            <div class="btm_list">
            <!-- {{data.likeBy}} -->
            <!-- {{user._id}} -->
              <ul>
                <li><a><span class="btn_icon"><img src="images/icon_001.png" alt="share" /></span>Share</a></li>

                <li *ngIf="user && data.flagBy.indexOf(user._id) == -1" id="flag"><a (click)="flag(data)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Flag</a></li>

                <li *ngIf="!user" id="flag"><a (click)="unknownFlag()"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Flag</a></li>

                <li *ngIf="user && data.flagBy.indexOf(user._id) !== -1" id="unflag"><a (click)="unflag(data)">Unflag<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>
                
                <li *ngIf="user && data.likeBy.indexOf(user._id) == -1" id="like"><a (click)="like(data)"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Like</a></li>

                <li *ngIf="!user" id="like"><a (click)="unknownLike()"><span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span>Like</a></li>
                
                <li *ngIf="user && data.likeBy.indexOf(user._id) !== -1" id="unlike"><a (click)="unlike(data)">Unlike<span class="btn_icon"><img src="images/icon_003.png" alt="share" /></span></a></li>
              
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      <div class="contnt_3">
        <ul>
<!--           <li>
            <div class="list_image">
              <div class="image_sec"><img src="images/post_img.png"></div>
              <div class="image_name">Bharat</div>
            </div>
            <div class="list_info">
            This is an example of a comment. You can create as many comments like this one or sub
comments as you like and manage all of your content inside your Account.
            </div>
            <input type="button" value="Reply" class="orng_btn">
          </li>
          <li>
            <div class="list_image">
              <div class="image_sec"><img src="images/post_img.png"></div>
              <div class="image_name">Bharat</div>
            </div>
            <div class="list_info">
            This is an example of a comment. You can create as many comments like this one or sub
comments as you like and manage all of your content inside your Account.
            </div>
          </li> -->


<!--           <li>
            <div class="list_image">
              <div class="image_sec"><img src="images/post_img.png"></div>
              <div class="image_name">Bharat</div>
            </div>
            <div class="list_info">
            This is an example of a comment. You can create as many comments like this one or sub
comments as you like and manage all of your content inside your Account.
            </div>
          </li> -->





          <li *ngFor="let a of elements; let i=index">
            
            <div class="list_image">
              <div class="image_sec"> <img src="images/post_img.png"> </div>
              <div class="image_name"> {{a.creatorName}} </div>
            </div>
            <div class="list_info">
            {{a.comment}}
            </div>

            <input type="button" value="Reply" class="orng_btn" (click)="replyBox(i)">
            
            <div *ngFor="let reply of a.replyData">
              <!-- <div class="image_sec"> <img src="images/post_img.png"> </div> -->
              <!-- <div class="image_name"></div> -->
              <div class="list_info"> {{reply.reply}}<span style="float:right;"> {{reply.creatorName}} </span> </div>
            </div>

            <div class="cmnt_div" *ngIf="replydiv == i">
              <input type="text" value="Add a Comment" class="cmnt_bx" [(ngModel)]="replydata">
              <input type="submit" class="sub_bttn" value="Submit Reply" (click)="reply(a,replydata,i)">
            </div>

          </li>





          <li> 
            <div class="cmnt_div1">
              <input type="text" class="cmnt_bx1" name="comment" [(ngModel)]="comment.comment">
              <input type="submit" class="sub_bttn1" value="Submit Comment" (click)="submitcomment()">
            </div>
          </li>
        </ul>
        <!-- <div class="view_div"><a href="#">View more</a></div> -->
      
      </div>







    </div>
  </div>
 </div>
</body>
</html>
